h1 {
  font-size: 2em;
  text-align: center;
}

table {
  width: 50%;
  margin: 0 auto;
}

th, td {
  text-align: center;
  border: black solid 1px;
}

.selectionDiv {
  display: inline-block;
  width: 50%;
}

.selectionDiv img {
  display: block;
  margin: 10px auto;
  width: 350px;
}

.buttons {
  display: block;
  margin: 10px auto;
}

#selectionSection {
  font-size: 0px;
}